@charset "utf-8";
body{overflow:auto;}
table.list td{
	border-bottom: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	line-height: 21px;
	overflow: hidden;
	padding: 0 3px;
	vertical-align: middle;
}

#container {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
